{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "ignorePatterns": ["*.test.*"],
  "parser": "@typescript-eslint/parser",
  "root": true,
  "rules": {
    "@typescript-eslint/no-explicit-any": "off"
  }
}
